<div *ngIf="info">
  <h5 class="info">{{ info.message }}</h5>
</div>
<div *ngIf="error">
  <h5 class="error">{{ error.message }}</h5>
</div>

<div class="container">
  <form>
    <input (keyup)="onInputChange($event, 'email')" type="text" placeholder="Email" pInputText />
    <input (keyup)="onInputChange($event, 'password')" type="password" placeholder="Password" pInputText />
    <div *ngIf="info; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><button pButton label="Register" [disabled]="true" (click)="onSubmit($event)"></button></ng-template>
    <ng-template #elseBlock><button pButton label="Register" (click)="onSubmit($event)"></button></ng-template>
  </form>
</div>
