@import '../../styles/global-variables.scss';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & button {
    width: 100%;
    margin-top: 10px;
  }
  
  & p-calendar {
    width: 100%;
  }
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & input {
    width: 100%;
    margin-bottom: 10px;
  }
}
