@import '../../styles/global-variables.scss';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.list-container {
  width: 100%;
}

.list-item {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 3px 1px lightgray;
  margin-bottom: 10px;
}

span {
  margin: 30px 0 20px 0;

  & input {
    width: 100%;
  }
}
