@import '../../styles/global-variables.scss';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.list-container {
  width: 40vw;
}

.form {
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
@media screen and (min-width: $media-query-lg) {
  .list-container {
    width: 30vw;
  }

  .form {
    width: 30vw;
  }
}

.form > input {
  width: 100%;
  margin-bottom: 10px;
}

.error {
  position: absolute;
  color: white;
  background: rgba(171, 0, 0, .7);
  padding: 5px 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 30%;
  text-align: center;
}
