/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/primeng/resources/primeng.min.css';
@import '../../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../../node_modules/primeicons/primeicons.css';

body {
  margin: 0px;
}

body * {
  font-family: 'Raleway', sans-serif;
}

.message-container {
  position: relative;
}

.info {
  position: absolute;
  color: white;
  background: #7fbcec;
  padding: 5px 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 30%;
  text-align: center;
}

.error {
  position: absolute;
  color: white;
  background: #f8b7bd;
  padding: 5px 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 30%;
  text-align: center;
}
