.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container > form {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  max-width: 600px;
}

.data {
  box-shadow: 1px 1px 3px 1px lightgray;
  padding: 5px 40px;
  width: --webkit-fill-available;
  margin-bottom: 10px;
}
