<div *ngIf="info" class="message-container">
  <h5 class="info">{{ info.message }}</h5>
</div>
<div *ngIf="error" class="message-container">
  <h5 class="error">{{ error.message }}</h5>
</div>
<h3>User page</h3>
<div *ngIf="info; then thenBlock else elseBlock"></div>
<ng-template #thenBlock> <user *ngIf="user" [user]="user" (showError)="showError($event)" ></user></ng-template>
<ng-template #elseBlock> <user *ngIf="user" [user]="user" (showError)="showError($event)" (changePassword)="submitNewPass($event)" (deleteUser)="delete($event)"></user></ng-template>

<div class="data">
  <h4>Statistics</h4>
  <p-chart type="line" [data]="bidNumberData"></p-chart>
</div>
